.m.home-container .home-container{
    display: flex;
    flex-direction: column;

}

.row1{
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
    padding-top: 5%;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.hexagon {
    font-family: __Montserrat_258d1f,__Montserrat_Fallback_258d1f;
    box-sizing: border-box;
    position: relative;
    clip-path: polygon(45% 1.3397459622%,46.5797985667% .6030737921%,48.2635182233% .1519224699%,50% 0,51.7364817767% .1519224699%,53.4202014333% .6030737921%,55% 1.3397459622%,89.6410161514% 21.3397459622%,91.0688922482% 22.3395555688%,92.3014605826% 23.5721239031%,93.3012701892% 25%,94.0379423592% 26.5797985667%,94.4890936815% 28.2635182233%,94.6410161514% 30%,94.6410161514% 70%,94.4890936815% 71.7364817767%,94.0379423592% 73.4202014333%,93.3012701892% 75%,92.3014605826% 76.4278760969%,91.0688922482% 77.6604444312%,89.6410161514% 78.6602540378%,55% 98.6602540378%,53.4202014333% 99.3969262079%,51.7364817767% 99.8480775301%,50% 100%,48.2635182233% 99.8480775301%,46.5797985667% 99.3969262079%,45% 98.6602540378%,10.3589838486% 78.6602540378%,8.9311077518% 77.6604444312%,7.6985394174% 76.4278760969%,6.6987298108% 75%,5.9620576408% 73.4202014333%,5.5109063185% 71.7364817767%,5.3589838486% 70%,5.3589838486% 30%,5.5109063185% 28.2635182233%,5.9620576408% 26.5797985667%,6.6987298108% 25%,7.6985394174% 23.5721239031%,8.9311077518% 22.3395555688%,10.3589838486% 21.3397459622%);
    background: #003262;
    object-fit: cover;

    min-width: 200px; 
    min-height: 100px;

}

.hexagon :hover{
    color: #003262;
    background:#FDB515;
}

.hexagonContent{
    color:white;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30%;
    overflow: hidden;
}

.about .hexagonContent h1{
    margin: 0;
}