/* Projects styles */
.projects-container {
display: flex;
flex-wrap: wrap;
justify-content: center; 
align-items: flex-start;
}

.project {
margin: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
overflow:hidden;
width: 300px; 
height: 400px;
position: relative;
transition: transform 0.3s ease-in-out;
/* display:flex;
flex-wrap: wrap;
justify-content:center; 
align-items:center; */
}

.project img {
/* display:flex; */
height: 250px;
width: 300px;
object-fit:cover;
transform: scale(1, 1);
}

.project .titleContent {
/* display: block; */
/* flex:1; */
padding: 10px;
color: black;
}

.project:hover {
    transform: translateY(-10px);
}
    
.project h2 {
margin-top: 0;
}

.project p {
margin-bottom: 10px;
}

.project a {
display: block;
margin-top: auto;
text-align: center;
font-weight: bold;
} 

a {
    text-decoration: none;
  }



/* QIE */
.entireProject{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.projectLeft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    flex-basis:60%;
    padding: 20px;
}

.projectSummary{
    text-align:left;
}
.projectLeft a{
    height:30px; 
    width: 30px;
}

.report{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    align-items:center;
    /* gap: 40px;        */
    flex-wrap: wrap;
}
  
.report p{
    display: flex;
    flex-basis: 40%; 
    justify-content:flex-end;
}

.report button {
    flex-basis: 60-100%; 
    display:block;
    justify-content:center;
    border:none;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    
}

.report button:hover{
    cursor: pointer;
}

.report button img {
    height: 95px; 
    width: 95px;
}

.projectRight{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items:center;
    flex-basis:auto;
}

.projectRight img{
    height: 400px;
}

ul {
    text-align: left;
    }

/* 

.InShort{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    }


      
@media screen and (min-width: 768px) {
.project-info {
    flex-direction: row;
}

.project-info > * {
    flex-basis: 50%;
}

.project-info > :first-child {
    margin-right: 2rem;
}

iframe {
    height: 400px;
}

img {
    height: 400px;
}
} */

