* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.nav {
  display: grid;
}

.nav ul {
  background-color: #003262;
  color:white;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 3rem; 
  padding: 1rem;
  margin: 0.5rem;
  
}

.nav a {
  color: inherit;
  text-decoration: none;
  height:100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  color: #FDB515;
}

.nav li:hover{
  color: #FDB515;
}


